body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.block {
    padding: 20px;
    color: #fff;
    height: 450px;
    width: 880px;
}
.training {
    background-color: #1060a3;
    font-size: 38px;
}
.backpack {
    background: url('image1.png') center/cover no-repeat;
    height: 450px;}
.girl_orange {
    background: url('image3.png') center/cover no-repeat;
}
.success {
    background-color: #ffffff;
    color: #004983;
    border: 1px solid #004983;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    align-content: center;
}
.alarm_books {
    background: url('image4.png') center/cover no-repeat;
}
.girl_building {
    background: url('image2.png') center/cover no-repeat;
}
.orange {
    background-color: #76afdc;
    font-size: 30px;
}
.orange button {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #76afdc;
    font-weight: bold;
    font-size: 25px;
    height: 70px;
    width: 210px;
}
.orange button:hover { background-color: #8395ac; }
.orange button:active { background-color: #aec4df; transform: scale(0.98); }
